body{
    background-color: #505050;
}
#tittle{
    background-color: #909090;
    margin: auto;
    width: 80%;
    height: 155px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
}
#left{
    background-color: #909090;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
    width: 120px;
    float: left;
    margin-left: 35px;
}
#advance{
    margin-top: 15px;
    width: 60px;
    margin-left: 30px; 
}
#take{
    width: 60px;
    margin-left: 30px;
}
#look{
    width: 60px;
    margin-left: 28px;
    border: 4px solid red;
}
#use{
    width: 60px;
    margin-left: 34px;
}
#speak{
    width: 60px;
    margin-left: 32px;
    margin-bottom: 15px;
}

#bg{
    margin: auto;
    width: 80%;
}
#cont{
    margin: auto;
    width: 65%;
    height: 100%;
}
#right{
    background-color: #909090;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
    width: 120px;
    float: right;
    margin-right: 35px;
}
#book{
    margin-top: 15px;
    width: 70px;
    margin-left: 30px;
}
#towel{
    width: 70px;
    margin-left: 30px;
}
#wall{
    background-image: url('resources/brick.jpg');
    width: 85%;
    margin: auto;
    height: 70px;
    margin-bottom: 129px;
}
#middle{
    background-color: #909090;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
    width: 68%;
    float: left;
    margin-left: 35px;
    height: 550px;
}
#center{
    width: 819px;
    height: 533px;
    margin: auto;
    margin-left: 1%;
    margin-top: 1%;
}
#day{
    width: 40%;
    margin-top: 10px;
}
#disney{
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-top: 8px;
}
#search{
    float: right;
    margin-top: 28px;
    object-fit: contain;
}
#disconnect{
    float: right;
    width: 20px;
    height: 20px;
    margin-right: -17px;
    margin-top: 124px;
}
#form{
    position: absolute;
    z-index: 1;
    background-color: #88ff89;
    width: 22%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
    margin-top: 490px;
}
form{
    margin-left: 2%;
}
p{
    margin: 0;
    margin-left: 2%;
}
#butten{
    border-style: none;
    height: 15%;
    width: 20%;
    background-color: #d6d6d6;
    border: 1px solid #a8a4a5;
    font-size: 0.7vw;
}
#field{
    width: 75%;
    height: 15%;
    border: 2px solid #eeeeee;
    margin-bottom: 40px;
}